h1
{
	color:#00FFFF;
	font-family: "Arial";
	font-size: 40px;
	font-weight: bold;
}

p
{
	color:#FFA500;
	font-family: "Courier";
	font-size: 20px;
	font-weight: bold;
}

body
{
	background-color: #00008B;
}